:root{
    /* main variables */
    --primary-color: #f2cf63;
    --nav-link-color: #6b7280;
    --nav-link-hover-color: #5A67D8;
    --hero-bg-color: #E2E8F0;
    /* learn about variables */
    --head-h2-color: #48BB78;
    --head-h2-size: 24px;
    --card-border-color: #E2E8F0;
    --card-border-radius: 5px;
    --head-h3-color: #48BB78;
    --head-h3-size: 21px;
    /* covid testing variables */
    --covid-bg-col: #4A5568;
    --covid-text-col: white;
    --learn-more-link: #48BB78;
    --rounded-corners: 4px;
    /* recent stories variables  */
    --headingnlinks-color: #5A67D8;
    --title-recent-stories-size: 18px;
    /* newsletter variables */
    --newsletter-bg-color: #48BB78;
    --newsletter-text-color: white;
    --newsletter-subscribe-color: #5A57D8;
    /* footer variables */
    --footer-bg-color: #4A5568;
    --footer-text-color: white;
}
*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", 
    Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
header{
    background-color: white;
    font-size: 18px;
}
header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul li{
    text-decoration: none;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    text-decoration: none;
    color: var(--nav-link-color);
    padding: 10px;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--nav-link-hover-color);
}

.overview-hero .container{
    display: flex;
    column-gap: 2em;   
    width: 60%;
}

section.overview-hero{
    background-color: var(--hero-bg-color);
    padding: 2em;
}


.overview-hero .container .overview-hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.learn-about .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;
}

section.learn-about .card{
    border: 1px solid var(--card-border-color);
    border-radius: var(--card-border-radius);
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

section.learn-about h2{
    font-size: 24px;
    color: var(--head-h2-color);
}

section.learn-about h3{
    font-size: 21px;
    color: var(--head-h3-color);
}

section.learn-about .card img{
    width: 100%;
    height: 50%;
}

section.testing{
    background-color: var(--covid-bg-col);
    color: var(--covid-text-col);
    padding: 2em;
}
section.testing .container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;   
    justify-content: center; 
    padding: 10px;
    grid-gap: 2em;
}

section.testing .btn{
    background-color: var(--learn-more-link);
    color: white;
    border-radius: var(--rounded-corners);
    padding: 10px;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    margin-left: 20px;
    padding: 15px 30px;
}

section.stories img{
    border-radius: 50%;
}

section.stories .container article{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    margin: 20px;
}

section.stories h2{
    color: var(--headingnlinks-color);
}

section.stories h3{
    font-size: var(--title-recent-stories-size);
}
section.stories a{
    text-decoration: none;
    color: var(--headingnlinks-color);
    font-size: var(--title-recent-stories-size);
    font-weight: bold;
}

section.stories{
    padding: 2em;

}

section.newsletter{
    background-color: var(--newsletter-bg-color);
    color: var(--newsletter-text-color);
    padding: 2em;
}

section.newsletter .container{
    width: 30em;
    display: flex;
    flex-direction: column;
}

section.newsletter form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

section.newsletter input{
    width: 100%;
    height: 50px;
    border-radius: var(--rounded-corners);
    padding: 10px;
    border: none;
}

section.newsletter h3{
    text-align: center;
}
section.newsletter button{
    background-color: var(--newsletter-subscribe-color);
    color: white;
    border-radius: var(--rounded-corners);
    padding: 10px;
    border: none;
    width: 100%;
    height: 100%;
}

footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 2em;
    margin: 0;
}

.error-message {
    color: red;
  }
  